@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --azul-royal:#4169E1;
  --roxo-escuro:#4B0082;
  --cinza-claro:#F5F5F5;
  --branco:#FFFFFF;
  --azul-claro:#87CEEB;
  --lavanda:#E6E6FA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--azul-royal)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
